body{
	font-family: "cursive","fantasy","sans-serif";
}

h1 {
	text-align: center;
}

#bg1, #bg2, #bg3{
	background: grey;
	border: 2px solid black;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.bg1{
	background: pink;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	width: 25%;
	text-align: center;
	font-weight: bold;
	float: right;
}

.bg2{
	background: brown;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	width: 25%;
	text-align: center;
	font-weight: bold;
	float: right;
	color: white;
}

.bg3{
	background: yellow;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	width: 25%;
	text-align: center;
	font-weight: bold;
	float: right;
}

#para{
	padding: 10px 10px;
	padding-bottom: 5px;
}

@media (min-width: 992px) {

	#bg1{
		width: 30%;
		position: absolute;
		top: 100px;
		left: 0%;
	}

	#bg2{
		width: 30%;
		position: absolute;
		top: 100px;
		left: 32.5%;
	}

	#bg3{
		width: 30%;
		position: absolute;
		top: 100px;
		left: 65%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	#bg1{
		width: 45%;
		position: absolute;
		top: 100px;
		left: 0%;
	}

	#bg2{
		width: 45%;
		position: absolute;
		top: 100px;
		left: 50%;
	}

	#bg3{
		width: 95%;
		position: absolute;
		top: 250px;
		left: 0%;
	}

}